 body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1200px;
    height: 1000px;
    display: grid;
    grid-template-rows: 200px 1fr;
    padding: 10px;
    box-sizing: border-box;
    border: 8px solid #ffc107;
    background-color: white;
}

 .header {
    border: 5px solid #8e44ad;
    background-color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.left-column {
    border: 5px solid #4caf50;
    border-top: none;
    background-color:white;
}

.middle-column {
    border: 5px solid #3498db;
    border-top: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 5px;
}

.box1{
    border-bottom: 5px solid #3498db;
    background-color: white;
}


.right-column {
    border: 5px solid #2c3e50;
    border-top: none;
    background-color:white;
}
